.navbar {
  display: flex;
  justify-content: space-around; /* Cambiado a space-around para espaciado uniforme */
  align-items: center;
  padding: 10px 20px;
  background-color: #27662a;
  background: linear-gradient(90deg, #333, #27662a, #333);

  color: white;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%; /* Asegúrate de que ocupe todo el ancho del contenedor */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  flex-grow: 1; /* Permite que los enlaces crezcan uniformemente */
  text-align: center; /* Centra el texto de los enlaces */
}

.navbar-user {
  position: relative;
  cursor: pointer;
  flex-grow: 0; /* Evita que el perfil del usuario ocupe más espacio */
}

.user-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: block;
  z-index: 1000;
}

.user-dropdown p {
  margin: 0;
  padding: 5px 0;
}

.user-dropdown button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.user-dropdown button:hover {
  background-color: #555;
}

/* Overlay para capturar clics fuera del menú */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900; /* Debajo del menú desplegable */
}
