/* src/App.css */
.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  color: rgb(0, 0, 0);
  width: 200px;
  
}



.sidebar ul {
  list-style-type: none;
  padding: 2cap;
  

}
.sidebar li:hover{
  transition: color o.3s ease;
  color: #333;
  box-shadow: #333;
}

.sidebar li {
  padding: 15px;
  
}



.content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
}

.news-section {
  background-color: #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
}
